
body{
    /* background-color: #4d9ba526; */
    background-color: #e1eef8;
}

body p{
    font-family: "Noto Sans", sans-serif;
}

a.skip{
    background: white;
    /* left: 0; */
    padding: 6px;
    position: absolute;
    top: -41px;
    rotate: 0deg;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: black;
    text-decoration-style: solid;
    border-style: dashed;
    font-family: "Comic Sans MS";
    text-decoration: none;
    left: 60px;
    right: 60px;
}  

a.skip:focus{
    top:60px;
    color: black;
    left: 60px;
    right: 60px;
    text-decoration-style: solid;
    border-style: dashed;
    font-family: "Comic Sans MS";
    text-decoration: none;
  }


.title{
    /* background-color: rgb(223, 117, 68); */
    background-color: #fff2cc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 6px rgb(8, 8, 8);
}

.title>h1{
    text-align: center;
    font-family: lobster, monospace;
    font-size: 40px;
    color: #0b5394;
    
}

.title h2{
    text-align: center;
    font-family: lobster, monospace;
    font-size: 24px;
    color: #0b5394;
    margin-top: -35px;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 120px;
    padding-top: 15px;
}

.current{
    text-transform: uppercase;
    font-size: 33px;
}


nav>a{
    text-decoration: none;
    font-family: 'Marker Felt', 'courier'; 
    font-size: 24px;
}

nav>a:link{
    /* color: rgb(224, 39, 6); */
    color: rgb(226, 45, 32);
}

a:focus{
    font-size: 24px;
}

nav a:focus{
    font-size: 28px;
    text-decoration: underline;
}

.current:focus{
    text-decoration: underline;
    font-size: 33px;
}

nav>a:visited{
    /* color: rgb(224, 39, 6); */
    color: rgb(226, 45, 32);
} 


h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

/* ABOUT ME SECTION */
#main_index{
    /* background-image: url(../about_imgs/under_sculpture.jpg); */
    background-attachment: fixed;
    /* padding-bottom: 50%; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* border-color:rgb(80, 78, 78); */
    /* border-style: solid; */
    border-width: .05em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

#main_index p{
    color:black;
    background-color: rgb(255, 255, 255, .9);
    padding: 2%;
    margin-top: 0%;
    font-family: monospace;
}



.intro{
    padding-top: 25px;
}

.intro p{
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.maincontainer{
   position: relative;
   width: 100%;
   height: 350px;
   margin-left: auto;
   margin-right: auto;
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;

}

.thecard:hover{
    transform: rotateY(180deg);
}

.thecard:focus{
    transform: rotateY(180deg);
}


.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(../about_imgs/surfing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
    background-image: url(../about_imgs/surfing2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.theback p{
    padding: 10%;
    margin: auto auto;
    color: white;
    font-size: 35px;
}

#surf{
    margin-bottom: 30px;
}

#festival{
    margin-top: -30px;
}

#festival p{
    margin-top: 40px;
}

#festival_front{
    background-image: url(../about_imgs/outside_lands.jpg);
    background-position: center;
    background-size: contain;
}

#festival_back{
    background-image: url(../about_imgs/osl2.jpg);
    background-size: cover;
    background-position: center;
}



/* EXPERIENCE.HTML SECTION */
li {
    list-style: square;
    padding: 10px;
}

#ordermark{
    border-radius: 20px;
}

.experience img{
    box-shadow: 1px 5px 4px grey;
}



/* PROJECTS.HTML SECTION */
.project_sum p{
    font-family: "rockwell";
}

@keyframes text_spin{
    from{
      transform: rotate(20deg);
      color: #e1eef8;
    }
    to{
      transform: rotate(0deg);
    }
  }


/*.project_sum{
    animation: text_spin;
    animation-duration: 5s;
}*/

iframe{
    display: none;
}

.project{
    max-width: none;
    padding-bottom: 15px;
}

.project>h2, .project>p{
    text-align: center;
    padding: 0px;
}



/* FOOTER STYLE */
footer{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer>a, footer img{
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.git{
    border-radius: 40px;
}



/* MEDIA.HMTL SECTION */
#media_overview{
    font-size: 20px;
    text-align: center;
}

.mediaLink{
    color: rgb(80, 78, 78);
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.mediaLink:hover{
    font-size: 28px;
}

#music_head, #books_head, #movies_head{
    margin-bottom: -15px;
}
#music,#books,#movies {
    margin-top: 0px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
}

#all_media h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
}

#all_media figure{
    grid-column: 2/ span 1;
    display: inline;
}

#all_media figcaption{
    text-align: center;

    
}

#all_media img{
    max-width: 300px;
    height: auto;
    text-align: center;
    /* margin: 0 100px; */
}

#music>figure>img{
    border: 5px solid green;
    margin: auto;
}

#music{
    grid-column: 2 / span 1;
}

#music figcaption{
    font-family: "Candara", "arial";
    font-size: 20px;
}

#books>figure>img{
    border: 5px solid red;
    margin: auto;
}

#books{
    grid-column: 2 / span 1;
    word-wrap: break-word;
}

/* #movies{
    grid-column: 2 / span 1;
} */

#books figcaption{
    font-family: "rockwell", "arial";
    text-align: center;
    max-width: 300px;
}


#movies>figure>img{
    border: 5px solid black;
    margin: auto;
}

#movies figcaption{
    font-family: "Copperplate", "Arial";
    font-size: 23px;
    text-align: center;
}

img:hover{
    filter: grayscale(0);

}

img:active{
    transform: rotate(0deg);
}

/* form.html style  */
/*   */
/*   */
form {
    border: 2px solid black;
    background-image: url(../form_content/feedback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    background-position: center;

    margin-top: 200px;
    margin-bottom: 200px;
    
  }

  legend{ 
    font-size: 175%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.7);
  }
  
  label{
    display: inline-block;
    margin-right:10px;
    max-width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    opacity: 0.8;
  }
  
  textarea{
      width: 75%;
  } 
  
  input[type=checkbox]{
  } */
  
  input[type=submit] {
    background-color: #fff2cc;
    color: #0b5394;
    cursor: pointer;
    width: 100%;
    opacity: 1;
  }
  
  input[type=submit]:hover {
    opacity: 0.1;
  }

@media screen and (min-width: 767px){
    /* whole site style */
    nav{
        flex-direction: row;
        justify-content: space-around;
        /* padding-top: 1%; */
        padding-bottom: 1%;
    }

    a.skip:focus{
        text-align: center;
        left: 35%;
        right: 35%;
    }

    /* about me style */

    #festival_back{
        height: 450px;
        width: 100%;
    }

    #surf_container{
        height: 500px;
        width: 600px;
        margin-right: 10px;
    }

    #surf p{
        margin-right: 10px;
        text-align: right;
    }

    #festival_container{
        height: 500px;
        width: 600px;
        margin-right: 10px;
        margin-top: 10px;
    }

    #festival p{
        margin-top: 20px;
        margin-right: 10px;
        text-align: right;
    }

    #main_index{
        grid-template-columns: 2;
        margin-left: 10px;
        margin-right: 10px;
    }

    #main_index>img{
        width:500px;
        height: auto;
        grid-column: 1 / span 1;  
    }

    #main_index p{
        grid-column: 2 / span 1;
        margin-bottom: 0;
        font-size: 150%;
    }

    .running_div{
        margin: 0 15%;
        width: 600px;
        height: 500px;
        margin-left: 10px;
    }
    



    /* experience.html style */
    .experience img{
        /* height: 330px;
        width: 480px; */
        height: auto;
        width: 100%;
        border-radius: 10px;
        box-shadow: 10px 10px 10px grey;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    #ordermark{
        border-radius: 25px;
    }

    .experience ul{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .experience p, .experience h1{
        text-align: center;
    }

    .xp_row{
        display: flex;
    }

    .experience{
        flex: 50%;
        padding: 20px;

    }

    /* favorite media style */
    #music,#books,#movies {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #all_media figure{
        align-self: center;
        justify-self: start;
        grid-column: span 1;
        display: inline;
        max-height: 100%;
        
    }

    #all_media figcaption{
        padding-top: 2%;
        overflow: scroll;
        max-height: 175px;
        max-width: 100%;
    }

    #all_media img{
        max-width: 100%;
    }

    
}

@media screen and (min-width: 1150px){
    
    /* INDEX.HTML */
    .title{
        padding: 0%;
    }

    /* #main_index img{
        display: none;
    }*/

    #main_index p{
        background-image: url(../about_imgs/pens_paper.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
    }


    /* EXPERIENCE.HTML */
    .experience img{
        box-shadow: 0px 0px 0px grey;
    }

    .experience img:hover{
        box-shadow: 10px 10px 10px grey;
        height: auto;
        width: 100%;

    }


    /* PROJECTS.HTML */

    .project>a{
        display: none;
    }

    .project p{
        display: none;
    }

    iframe{
        display: block;
        margin: 0 auto;
    }

}

@media all and (prefers-reduced-motion){
    .project_sum{
    animation: none;
    }

    .experience img:hover{
        box-shadow: 0px 0px 0px grey;
    }

    #main_index p{
        background-attachment: scroll;
    }

    .thecard:hover{
        transform: none;
    }
    
    .thecard:focus{
        transform: none;
    }

    a.skip{
        -webkit-transition: none;
        transition: none;
    }
    
}






